@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1600px;
  max-height: 500px;
  margin: auto;
  position: relative;
}

.container-fluid {
  max-width: 1600px;
  margin: auto;
  position: relative;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
}

.section__title {
  background: url("../img1/tesla_back.jpg") no-repeat center;
}

.slider {
  background-color: #000000;
}

.img__logo {
  width: 240px;
  height: 218px;
  margin-bottom: 40px;
}

.title {
  text-align: center;
  margin: auto;
  padding: 0px 0 10px;
  background: transparent;
  font-family: 'Bangers', cursive;
  font-size: 75px;
  padding-top: 25px;
  margin-top: 0;
  color: #ffffff;
}

.title1 {
  text-align: center;
  margin: auto;
  padding: 75px 0 50px;
  background: transparent;
  font-family: 'Bangers', cursive;
  font-size: 55px;
  margin-top: 0;
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
}

.container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__title {
  text-align: center;
  font-family: 'Bangers', cursive;
  padding-top: 25px;
  font-size: 50px;
  color: #ffffff;
}

.slider {
  padding-top: 95px;
  padding-bottom: 135px;
}

.slick-slider {
  position: relative;
}

.reviews__btn {
  cursor: pointer;
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 35%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
}

.reviews__btn:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  top: 50%;
  right: 20px;
  z-index: 1;
}

.reviews__btn--prev {
  left: -30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.reviews__btn--next {
  right: -30px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.slick-item__wrap {
  margin-top: 10px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

.slick-item__item {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.slick-item__item img {
  width: 530px;
  height: 298px;
}

.background {
  width: 1920px;
  height: 818px;
  margin-top: -20px;
  padding-top: 25px;
}

.background__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.background__image {
  width: 600px;
  height: 600px;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(247, 244, 244, 0.77);
          box-shadow: 0px 0px 25px 5px rgba(247, 244, 244, 0.77);
  display: block;
}

.background__title-title1 {
  color: #ffffff;
  font-size: 80px;
  margin: 0;
  padding: 40px 0 35px;
  text-shadow: 3px 5px 2px #474747;
  padding-left: 15px;
}

.background__text {
  max-width: 800px;
}

.background__text-p {
  margin-left: 25px;
  margin-top: 140px;
  color: #ffffff;
  font-size: 32px;
  display: block;
  text-shadow: 5px 9px 5px rgba(30, 31, 33, 0.82);
}

.before__section {
  background: url("../img1/wall.jpg") no-repeat center;
  background-size: cover;
  height: 1080px;
}

.before-after1 {
  max-width: 1200px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */